body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    /* grid-template-columns:  */
    height:100vh;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 0em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.zip{
    
}

.entry{
    background: rgba(59, 74, 107, .4);
    height:9.5em;
}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {

}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:flex;
    font-size: 20px;
}

input{
    height: 60px;
    width: 250px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 100px;
    height: 50px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer; 
}
h1{
    font-size: 40px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 